<%= render "/shared/header" %>
  <div class="main">
    <div class="item-contents">

    
    <div class="subtitle" >
      店舗一覧
    </div>
    <ul class='item-lists'>

    <% if @restaurant.exists?%>

       <% @restaurant.each do |restaurant|%>
         <li class="list">           
            <% link_to restaurant_path(restaurant.id) do%>
              <div class="items-container">

                  <div class="items-image-content">
                    <%= image_tag restaurant.image, class: "item-image"%>
                  </div>

                <div class="items-weight-contents">
                
                  <div class="list-name">
                    <%= restaurant.name%>
                  </div>
                  
                  <div class="other">
                    <div class="list-station"><%= restaurant.near_station %>
                    </div>
                    <div class="smoking"><%= restaurant.smoking %>
                    </div>
                  </div>

                  <div class="time">
                    <div class="opening"><%= restaurant.opening %>
                    </div>
                    <div class="clossing"><%= restaurant.clossing %> 
                    </div>
                  </div>
                  <div class="holiday"><%= restaurant.holiday %>
                  </div>
                </div>

                  <div class="appeal"><%= restaurant.appeal%>
                  </div>
              </div>  
            <% end %>
         </li> 
       <% end %>

            <% else %>
            <li class="list">           
            <%= link_to '#' do %>
              
              <div class="items-container">
                  <div class="items-image-content">
                    <%= image_tag "/sample1.png", class: "item-image"%>
                  </div>

                <div class="items-weight-contents">
                
                  <div class="list-name">
                    例の店
                  </div>
                  
                  <div class="other">
                    <div class="list-station">例の駅
                    </div>
                    <div class="smoking">喫煙室有り
                    </div>
                  </div>

                  <div class="time">
                  開店時間
                    <div class="opening">09:00
                    </div>
                    閉店時間
                    <div class="clossing">22:00
                    </div>
                  </div>
                  <div class="holiday">年中無休
                  </div>
                  <div class="appeal">是非ともお越しください
                </div>

              </div>  
                  </div>
              <% end%>
         </li> 

     <% end %>
     </ul>

    </div>
  </div>
  <%= link_to('/restaurants/new', class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>投稿する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  <% end %>
<%= render "/shared/footer" %>