<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="container">
  <div class="item-box">

    <div class="h1">
      <%= @restaurant.name %>
    </div>

    <div class="item-img-content">
      <%= image_tag @restaurant.image ,class:"images" %>  
    </div>

    <% if user_signed_in? &&  current_user.id == @restaurant.user.id%>
        
      <div class="row">
        <%= link_to "店舗内容の編集", edit_restaurant_path(@restaurant.id), class:"col"%>
          <p class="or-text">or</p>
        <%= link_to "削除", restaurant_path(@restaurant.id), method: :delete,class:"col" %>
      </div>

      <div class="row">
        <div class="col">
          呟き投稿
        </div>
      </div>

    <% else %>

    <% end %>

    <div class="item-price-box">
      <span class="item-price">
        <%= @restaurant.appeal %>
      </span>
      <span class="item-postage">
        <%= @restaurant.smoking %>
      </span>
    </div>
    
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">喫煙室の有無</th>
          <td class="detail-value"><%= @restaurant.smoking %></td>
        </tr>
        <tr>
          <th class="detail-item">定休日</th>
          <td class="detail-value"><%= @restaurant.holiday %></td>
        </tr>
        <tr>
          <th class="detail-item">開店時間</th>
          <td class="detail-value"><%= @restaurant.opening.name %></td>
        </tr>
        <tr>
          <th class="detail-item">閉店時間</th>
          <td class="detail-value"><%= @restaurant.closing.name %></td>
        </tr>
      </tbody>

    </table>

    <div class="row">
      <div class="col">
      </div>
    </div>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <%#= 日記の画像を表示予定 %>

  <%# <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <%# <span>コメントする<span>
      </button>
    </form>
  </div> %> %>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
 
  
</div>

<%= render "shared/footer" %>
